CI=true
GITHUB_TOKEN=""
GITHUB_REPOSITORY_OWNER="pl4nty"
GITHUB_REPOSITORY="pl4nty/winget-extras"
GITHUB_REF_NAME="main"
KOMAC_GITHUB_REF="main"
KOMAC_GITHUB_OWNER="pl4nty"
KOMAC_GITHUB_REPO="winget-extras"
